nav {
    /* background: rgba(255,255,255,0.05); */
    width: max-content;
    display: flex;
    /* flex-direction: column; */
    padding: 0.7rem 0.5rem;
    z-index: 2;
    position: fixed;
    /* right: -2%; */
    right: 5%;
    /* transform: translateX(-50%); */
    /* top: calc(50% - 19.1rem/2); */
    top: 0%;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--light-blue);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0,0,0,0.3);
}

